ebc-forms-reactjs/azure/ebc-forms-reactjs-form.json
{
  "$connections": {
    "value": {
      "microsoftforms": {
        "connectionId": "/subscriptions/02c27727-30e5-4ae2-b0a3-a42f80a73007/resourceGroups/test-rg/providers/Microsoft.Web/connections/microsoftforms",
        "connectionName": "microsoftforms",
        "id": "/subscriptions/02c27727-30e5-4ae2-b0a3-a42f80a73007/providers/Microsoft.Web/locations/eastus/managedApis/microsoftforms"
      }
    }
  },
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "For_each": {
        "actions": {
          "Get_response_details": {
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['microsoftforms']['connectionId']"
                }
              },
              "method": "get",
              "path": "/formapi/api/forms('@{encodeURIComponent('3Lt3--vGs02UAOXn9NV_scwAE4PWTPxFg9B_QZcw6HlUNzlKTVFQWEVTWUU1OTVRN0JKTlRRNjZISC4u')}')/responses",
              "queries": {
                "response_id": "@items('For_each')?['resourceData']?['responseId']"
              }
            },
            "runAfter": {},
            "type": "ApiConnection"
          },
          "Set_variable": {
            "inputs": {
              "name": "lastWord",
              "value": "@body('Get_response_details')?['rcaa086ff527347768fef9fdbeedde7da']"
            },
            "runAfter": {
              "Get_response_details": [
                "Succeeded"
              ]
            },
            "type": "SetVariable"
          }
        },
        "foreach": "@triggerBody()?['value']",
        "runAfter": {
          "Initialize_variable": [
            "Succeeded"
          ]
        },
        "type": "Foreach"
      },
      "Initialize_variable": {
        "inputs": {
          "variables": [
            {
              "name": "lastWord",
              "type": "String"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "ebc-forms-reactjs": {
        "inputs": {
          "body": {
            "lastWord": "@variables('lastWord')"
          },
          "host": {
            "triggerName": "manual",
            "workflow": {
              "id": "/subscriptions/02c27727-30e5-4ae2-b0a3-a42f80a73007/resourceGroups/test-rg/providers/Microsoft.Logic/workflows/ebc-forms-reactjs"
            }
          }
        },
        "runAfter": {
          "For_each": [
            "Succeeded"
          ]
        },
        "type": "Workflow"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "When_a_new_response_is_submitted": {
        "inputs": {
          "body": {
            "eventType": "responseAdded",
            "notificationUrl": "@{listCallbackUrl()}",
            "source": "ms-connector"
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['microsoftforms']['connectionId']"
            }
          },
          "path": "/formapi/api/forms/@{encodeURIComponent('3Lt3--vGs02UAOXn9NV_scwAE4PWTPxFg9B_QZcw6HlUNzlKTVFQWEVTWUU1OTVRN0JKTlRRNjZISC4u')}/webhooks"
        },
        "type": "ApiConnectionWebhook"
      }
    }
  }
}